/* Vector screen styles */

@import "variables.less";

@import "components/common.less";
@import "components/animations.less";
@import "components/navigation.less";
@import "components/footer.less";
@import 'components/notifications.less';
@import "components/externalLinks.less";

body {background-color: #ff0 !important; }
body::before {content: 'CODERDOJO KATA!!'; float: left; }
