@mixin kata-mentors {
	$kataMentorsColor: #CF2A27;

	$highlightColor: #ffffff;

	.kata-mentors {
		.kata-category-title {
			/* only override border color */
			border-color: $kataMentorsColor;
		}
		.kata-tags .kata-tag span {
			/* inherit all properties, but define specific highlight color */
			background-color: $kataMentorsColor;
			color: $highlightColor;
		}

		.alpha-filter {
			.letter {
				&.selected {
					background-color: $kataMentorsColor;
					a:visited, a:link {
						color: $highlightColor;
					}
					a:hover, a:active {
						color: $highlightColor * 0.8;
					}
				}
			}
		}
	}
}
