/* import files here, then call defined mixin later */
@import '_kata-box';
@import '_kata-category';
@import '_kata-tags';
@import '_alpha-filter';
/* section specific styles */
@import '_kata-mentors';
@import '_kata-ninjas';

$lightBg: #E5E5E5;
$mediumBg: #CCCCCC;
$darkBg: #333333;
$lightColor: #000;
$mediumColor: #000;
$darkColor: #fff;

$sidebarBgColor: #2E7AC7;
$sidebarColor: #fff;

#Col1BodyContainer {
	background: $sidebarBgColor;
}

.sidebar {
	color: $sidebarColor;
	a {
		color: $sidebarColor;
	}
}

.nav-tabs {
    margin: 0;
    padding: 0;
    border: 0;
}
.nav-tabs > li > a {
    background: #DADADA;
    border-radius: 0;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover {
    background: #F5F5F5;
}

/* Tab Content */
.tab-pane {
    background: #F5F5F5;
    border-radius: 0;
    border: 1px solid #DADADA;
    padding: 10px;
}

#PageContainer {
	#MainContainer {
		padding: 0 2rem 0 2rem;
	}
	/* call mixins defined in imported files, so they are specifically nested under this #PageContainer rule */
	@include kata-category();
	@include kata-box();
	@include kata-tags();
	@include alpha-filter();
	/* call section specific overrides */
	@include kata-mentors();
	@include kata-ninjas();
}

@import '_kata-mentors-pierpaolo';