/* import files here, then call defined mixin later */
/* section specific styles */


#Col1BodyContainer {
  background: #2e7ac7;
}

.sidebar {
  color: white;
}
.sidebar a {
  color: white;
}

#PageContainer {
  /* call mixins defined in imported files, so they are specifically nested under this #PageContainer rule */
  /* call section specific overrides */
}
#PageContainer #MainContainer {
  padding: 0 2rem 0 2rem;
}
#PageContainer .kata-box {
  margin-top: 2rem;
}

#PageContainer .kata-content .kata-box {
    margin-top: 0rem;
}

#PageContainer .kata-tutorial-step-title{
	font-weight: bold;
}

#PageContainer .kata-content .kata-breadcrumbs .kata-breadcrumb {
    background-color: #333333;
    /*border-radius: 5px 20px 5px;*/
    color: white;
    float: left;
    height: 4rem;
    margin: 0 1px 2rem 0;
    padding: 0.9rem 4rem 1rem 1rem;
    position: relative;
    text-align: center;
    min-width: 10%;
    white-space: nowrap;
}

#PageContainer .kata-box {
    margin-top: 0;
}

#PageContainer .kata-content .kata-breadcrumbs .kata-breadcrumb-selected{
	background-color: #cf2a27;
}

#PageContainer .kata-content .kata-tutorial-container{
	width: 100%;	
}

#PageContainer .kata-content .kata-tutorial-container{
	border:1px solid #333333;
}

#PageContainer .kata-content .kata-tutorial-container td{
	padding: 0px;
}

#PageContainer .kata-content .kata-tutorial-container{
	background-color: #333333;
}

#PageContainer .kata-content .kata-tutorial-navigation-container{
	width: 15%;
}

#PageContainer .kata-content .kata-tutorial-navigation{
	width: 100%;
}

#PageContainer .kata-content .kata-tutorial-navigation .kata-tutorial-navigation-item{
	height: 5rem;
    padding: 0.5rem 0.9rem;
    color: #FFFFFF;
    vertical-align: middle;
}

#PageContainer .kata-content .kata-tutorial-navigation .kata-tutorial-navigation-item a{
	color: #FFFFFF;
}

#PageContainer .kata-content .kata-tutorial-navigation .kata-tutorial-navigation-item-selected{
	background-color: #cf2a27;
}

#PageContainer .kata-content td.kata-tutorial-content-container{
	width: 85%;
	padding: 0.7rem 1.5rem;
	background-color: #FFFFFF;
}

#PageContainer .kata-content .mw-templatedata-doc-wrap{
	display:none;
}

#PageContainer .kata-tutorial-rating{
	font-size:11px;
	line-height: 15px;
}

#PageContainer .kata-tutorial-rating .rating_box{
	line-height: 18px;
}