@mixin kata-tags() {
	$highlightBg: #CF2A27;
	$highlightColor: #ffffff;

	.kata-tags {
		width: 100%;
		&.single-column .kata-tag {
			float: none;
			clear: both;
		}
		.kata-tag {
			width: 30%;
			float: left;
			background-color: $darkBg;
			position: relative;
			padding: 0.9rem 4rem 1rem 0;
			min-height: 4rem;
			color: $darkColor;
			margin: 0 3% 2rem 0;
			text-align: center;
			a, a:visited, a:link {
				color: $darkColor;
			}
			a:hover, a:active {
				color: $darkColor * 0.8;
			}
			span {
				position: absolute;
				right: 0;
				top: 0;
				bottom: 0;
				width: 4rem;
				padding: 0.9rem 0;
				background-color: $highlightBg;
				color: $highlightColor;
			}
		}
		@media screen and (max-width: 767px) {
			.kata-tag {
				width: 45%;
				margin-right: 5%;
			}
		}
		@media screen and (max-width: 479px) {
			.kata-tag {
				width: 100%;
				margin-right: 0%;
			}
		}
	}
}